.center {
	top: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	box-shadow: 0 0.3rem 0.4rem 0 rgba(194, 192, 194, 33%);
	width: 100vw;
	z-index: 10;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1600px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100vw;
	height: 80px;
}
.logo {
	width: auto;
	height: 50px;
}
.logo:hover {
	cursor: pointer;
}
.button {
	background-color: #007CC1;
}
.button:hover {
	background-color: #004277;
}
.button__selected {
	background-color: #004277;
}
.button__selected:hover {
	background-color: #004277;
}
.button__text {
	font-weight: 600;
	font-family: open sans, sans-serif;
	color: white;
}