.card {
	width: 70vw;
	min-width: 550px;
	box-shadow: 0 0.3rem 0.4rem 0 #c2c0c2;
	padding-left: 50px;
}
.companyName {
	font-size: 1.5rem;
	font-weight: 600;
	color: #007CC1;
}
.companyName:hover {
	cursor: pointer;
}
.companyTin {
	color: #4a4a4a;
	font-weight: 200;
	font-size: 1.1rem;
}
.tinCode {
	margin-left: 30px;
	color: #4A5465;
	font-weight: 600;
	font-size: 1.1rem;
}