.companyDetailsCard {
	width: auto;
	display: inline-block;
	min-width: 800px;
	box-shadow: 0 0.3rem 0.4rem 0 #c2c0c2;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
	min-height: 200px;
}
.companyDetails {
	padding-bottom: 30px;
	gap: 30px;
}
.boldText {
	color: #4A5465;
	font-weight: 600;
	font-size: 1.1rem;
}
.regularText {
	color: #4a4a4a;
	font-weight: 350;
	font-size: 1.1rem;
}
.line {
	width: 100%;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
}
.space {
	margin-left: 20px;
}
.shPct {
	min-width: 80px;
	text-align: end;
	padding-left: 5px;
	padding-right: 5px;
}
.shEquity {
	width: 10%;
	min-width: 90px;
	max-width: 130px;
	text-align: start;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}
.shName {
	width: 100%;
	min-width: 150px;
	text-align: start;
	white-space: nowrap;
	margin-left: 5px;
	margin-right: 5px;
}
.shTin {
	width: 10%;
	min-width: 100px; 
	max-width: 150px;
	text-align: end;
	margin-left: 10px;
	margin-right: 10px;
}
.shFounder {
	width: 10%;
	min-width: 80px; 
	max-width: 120px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
.shType {
	width: 10%;
	min-width: 80px; 
	max-width: 120px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}