.mainContent {
	margin-top: 80px;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.searchResultsText {
	font-size: 1.3rem;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}
.searchResults {
	padding-bottom: 100px;
}